


/*============================================*/
/*=================GENERAL====================*/
/*============================================*/
.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}


body{
	margin:0px;
	padding:0px;
	font-family:verneda,helvetica, arial,sans-serif;
}
	
p {
	padding:0px;
	margin:0px;
}

div {
	padding:0px;
	margin:0px;
}




.fixedwidth{
	 
	width:1100px;
	margin:0 auto;
	
	
	 
	}



.floatleft{
	float:left;
}


.clear {
	clear:both;
}

.notop{
margin:0;
top:0;
}

.lw-title{
color:black;


}

.lw-title a:hover {
        text-decoration: none;
}


/*============================================*/
/*=================TOP MENU===================*/
/*============================================*/
#logo {
	position: fixed;
	color:red;
	
	z-index:1100;
	float:left;
	margin-left:130px;
	margin-top:15px;
	
	border-right:1px solid #990000;
	padding: 5px 10px 5px 0px;
	font-weight:bold;
}

#lotusimg{
	position:relative;
	 
	z-index:1100;
	width:40px;
	height:40px;
	margin:10px 2px 0px 80px ;
	border-radius: 20px;
	float:left;
	
}


 

#topmenudiv{
	 
	text-transform: uppercase;

	float:left;
	font-weight: bold;
	margin:0px 0px 0px 0px;
	padding-right:0px;
 
	 
	width:120px ;
	height: 40px;
	margin-left:300px;
	text-align:center;
	
}

#container ul{
	float:left;
	margin-left:150px;
	margin-right:100px;
	padding:00px 0px 0px 0px;
	margin-top:0px;
	

}

#container li{
	list-style:none;
	float:left;
	margin: 0px 0px 0px 0px;
	padding:20px 10px 40px 10px;
	text-transform: uppercase;
	font-weight:bold;
	 
	
} 

#topmenudiv:hover {
background-color:black;


}

#topmenudiv:hover span{
    color:white;
}


#container{
	position:fixed;
	background-color: #FFF;
	width:100%; 
	height:60px;
	margin:0px;
	z-index:1010;
 
	}

/*============================================*/
/*=================FIRST IMAGE================*/
/*============================================*/
.servicediv{
	position:relative;
	z-index:1000; 
	text-align:center;
	font-weight:bold;
	width:600px;
	font-size:200%;
	top:180px;
	
	

}

#servicesswitch{
	position:relative;
	z-index:1000;
	text-align:center;
	background-color: rgb(250, 36, 25);
	color:white;
	width:600px;
	font-weight:bold;

	font-size:220%;
	top:180px;

}

#image-panel{
position:relative;
top:-80px;
z-index:900;
background-color:blue;
color:white;
height:681px;
width:1220px; 
margin:0px;
padding:0px; 


}


#textbox{
	position:relative;
	width:992px;
	margin:0 ;
	padding:0;
	

	
	
	 
	}
	
.testbox{

height:800px;
width:100px;
background-color:gray;
}



.focusbox{
color:black;
border: solid;
height:300px;
text-align: justify;
font-weight:normal;
letter-spacing:0pt;
word-spacing:0pt;
line-height: normal;
}

/*============================================*/
/*=================TEAM=======================*/
/*============================================*/

 

.teamicon{
position: static;
	z-index:1000;
	border-radius: 90px;

	width:180px ;
	height: 180px;
	
	background-color: #000;
	
	margin-top:0px;
	margin-left:0px;
	
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	float:none;
}

.teampanel img:hover {
	opacity:0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}

/*============================================*/
/*=================JOIN US====================*/
/*============================================*/


a:link {
    text-decoration: none;
    color:black;
    
}
 
a:visited {
     text-decoration: none;
     color:black;
}

 
a:hover {
    
}

 
a:active {
  
}


#image-panel {
	margin:0px;
	padding:0px;
	width:100%;
	

}

/*============================================*/
/*=================CONTACT===================*/
/*============================================*/

#map-contact{
	align:top;
	width:100%;
	height:350px;
}


/*============================================*/
/*=================FOOTER====================*/
/*============================================*/



#footer-panel{
	position:relative;
	background-color: #000;
	width:100%; 
	height:60px;
	margin:0px;
 
	}
#copyright{
	color:white;
	text-align:center;
	font-weight:bold;
	padding-top:20px;
	}
	
#social-icon{
	position:relative;
	text-align: center ; 
	
	margin-left:auto;
	margin-right:auto;
	 
	z-index:10042;
	 
	}
 
 
